In [62]:
import pandas as pd
import requests

In [63]:
ticker = 'SPCE'
RAPID_API_KEY = '34bba2b52emsh9069b54ce307152p1da83ajsna01e65c25613'

In [64]:
def get_stock_price(ticker: str, period: str, rapid_api_key: str) -> pd.DataFrame:
    """
    period: 1D - 1 day, 5D - 5 days, 1M - 1 month, 6M - 6 months, YTD - year-to-date, 1Y - 1 year, 5Y - 5 years, MAX - all times.
    """
    url = "https://real-time-finance-data.p.rapidapi.com/stock-time-series"

    querystring = {"symbol":ticker, "period":period, "language":"en"}

    headers = {
    	"X-RapidAPI-Key": rapid_api_key,
    	"X-RapidAPI-Host": "real-time-finance-data.p.rapidapi.com"
    }

    response = requests.get(url, headers=headers, params=querystring)
    return pd.DataFrame.from_dict(response.json().get('data').get('time_series'), orient='index')

In [65]:
stock = get_stock_price('SPCE', 'YTD', RAPID_API_KEY)

In [66]:
stock = stock.reset_index()
stock = stock.rename(columns={"index":"dt"})

In [67]:
stock

                      dt  price  change  change_percent      volume
0    2023-01-03 16:00:00   3.49    0.00          0.0000   7668027.0
1    2023-01-04 16:00:00   3.64    0.15          0.0430   4858879.0
2    2023-01-05 16:00:00   3.66    0.17          0.0487   5262860.0
3    2023-01-06 16:00:00   3.69    0.20          0.0573   4090692.0
4    2023-01-09 16:00:00   3.91    0.42          0.1203  10357731.0
..                   ...    ...     ...             ...         ...
227  2023-11-28 16:00:00   2.12   -1.37         -0.3926   9996317.0
228  2023-11-29 16:00:00   2.20   -1.29         -0.3696  10875523.0
229  2023-11-30 16:00:00   2.23   -1.26         -0.3610  10559680.0
230  2023-12-01 16:00:00   2.34   -1.15         -0.3295  11259913.0
231  2023-12-04 13:14:00   1.96   -1.53         -0.4384         NaN

[232 rows x 5 columns]

In [68]:
stock.to_csv(f"{ticker}_stock.csv", index=False)